<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    {% include navigation.html %}
    <div class="container">
      {{ content }}
    </div>
    <!-- /.container -->
    <footer>
        <p>
          <a href="https://www.linkedin.com/in/yash-agarwal-110698/" class="icon linkedin"></a>
          <a href="https://github.com/yash110698"class="icon github"></a>
          <a href="yash110698@outlook.com" class="icon email"></a>
        </p>
    </footer>
  </body>
</html>
